{% extends 'base.html.twig' %}

{% block title %}Products{% endblock %}

{% block body %}


    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>All the products</h2>
            </div>
            <a href="{{ path('app_product_ASC') }}">filter by ASC</a>
            <a href="{{ path('app_product_DESC') }}">filter by DESC</a>

            <div class="row gy-4">
                {% for product in products %}
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon-box iconbox-blue" style="width: 500px;">
                            <div class="icon">
                                <img style="width: 100px" src="/uploads/product/{{ product.image }}" alt="">
                            </div>
                            <h4>{{ product.id }}</h4>
                            <h4>{{ product.name }}</h4>
                            <p>{{ product.description }}</p>
                            <h5>${{ product.price }}</h5>
                            <p>{{ product.category }}</p>
                            <a href="{{path('app_product_single', {'id':product.id}) }}">See product</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- End Services Section -->

{% endblock %}
